.JobList {
    margin-top: 55px;
    padding: 15px;
}
.companyDetails .heading{
    margin-top: 130px;
    text-align: center;
}
h2{
    text-align: center;
}
.header{
    background-color: blue;
}
.specJobData{
    height: 330px;
    padding: 10px;
    padding-right: 10px;
    background-color:rgb(247, 236, 236);
}
.JobListHeading{
    display: grid;
    grid-template-columns: 70% 30%;
}
.workCulture{
    margin: 20px;
    display: grid;
    flex-wrap: wrap;
    overflow: hidden;
    grid-template-columns: 1fr 1fr 1fr;
    grid-gap: 10px;
}
.facilities{
    margin: 20px;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
    grid-gap: 10px;
}
.modal{
    margin: 50px;
    height: 400px;
    width: 300px;
    background: white;
    color: black;
}
@media only screen and (max-width: 700px ) {
    .JobList {
    } 
} 